{% extends 'base.html' %}

{% block title %}
Edit page
{% endblock %}

{% block content %}
<h1>This edit page</h1>

<form action="{{ request.path }}" method = "POST">
    <label for = "name">Name</label><br>
    <input type = "text" name = "name" value="{{ items.name }}" placeholder = "Name" /><br>
    <label for = "age">Age</label><br>
    <input type = "text" name = "age" value = "{{ items.age }}" placeholder = "Age" /><br>
    <label for = "hometown">Hometown</label><br>
    <input type = "text" name = "hometown" value = "{{ items.hometown }}" placeholder = "Hometown" /><br>
    <label for = "email">Email</label><br>
    <input type = "text" name = "email" value = "{{ items.email }}" placeholder = "Email" /><br>
    <label for = "datejoin">Date join</label><br>
    <input type = "text" name = "datejoin" value = "{{ items.datejoin }}" placeholder = "Date join" /><br>
    <input class="btn btn-primary" type = "submit" value = "Submit"/>

</form>
{% endblock %}