{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>This is the login page</h1>
<form method="post" class="form-register" >
    {{ form.hidden_tag() }}

    {{ form.uname.label() }}<br>
    {{ form.uname(class="input", placeholder="User name") }}<br>
    
    {{ form.password.label() }}<br>
    {{ form.password(class="input", placeholder="Password") }}<br>
    <p1 class="front">Don't have account? <a href="{{ url_for('register_page') }}">Register</a></p1>
    {{ form.submit(class="btn btn-primary") }}
</form>    
{% endblock %}